/*Removing the black dots from the list*/
ul {
    list-style-type: none;
    
}
/*Adding style to the list items*/
li {
    /*making them inline*/
    float: left;
    /*giving the images a border + style */
    border:1px solid #000;
    background-color: rgb(197, 200, 201);
    padding:10px 40px 10px;
    border-radius: 7px;
    margin-top: 40px;
    margin-right: 50px;
    box-shadow: 10px 5px 5px rgb(37, 37, 37);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;

    }

/*footer for the references section*/

a[href] {
    
    float: left;
    bottom:0px;
    height:30px;
    width:100%;
    
 }
 
 /*Creating the style for the popup window*/
 .popup, .errorMsg{
    float: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #000;
    background-color: rgb(222, 228, 230);
    border-radius: 7px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    padding: 0 30px 30px;
    color: rgb(0, 0, 0);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    
 }
 .popup button, .errorMsg button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: cornsilk;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;

 }
 .open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
 }

 .close-popup{
   transform: translate(-50%,-50%) scale(0.1);
   transition: transform 0.4s, top 0.4s;
    visibility: hidden;
    
 }

 /*will be used for adding the individual pokemon's info on a successfull search*/
 .addInfo{
    
    padding: 20px 20px 20px;

 }
/*will be used for hiding the info of the pokemon*/
 .hideInfo{
    visibility: hidden;
    padding: 20px 20px 20px;
 }

 .myclass {
   display: inline-block;
   -webkit-animation: rainbow 7s infinite; 
   font-size: small;
   padding: 0px 0px 20px;
   font-weight: bold;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   
   
 }
 
 @-webkit-keyframes rainbow{
   0%{color: orange;}  
   10%{color: purple;} 
   20%{color: red;}
   30%{color: rgb(35, 118, 121);}
   40%{color: yellow;}
   50%{color: coral;}
   60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
   100%{color: orange;}
 }

 .myNum{
   color: rgb(63, 63, 63);
   font-size: smaller;
 }

 .myDef{
   color: rgb(63, 63, 63);
   font-size: smaller;
 }

 .title{
   text-align: center;
   align-items: center;
   width: 100%;
   font-family: 'Courier New', Courier, monospace;
 }

 #searchButtonLetters, #searchButtonNumbers{
   padding: 6px 6px 6px 6px;
   border: 2px solid;
   border-radius: 5px 5px 5px 5px;
   border-color: #000;
   margin-top: 8px;
   margin-right: 0px;
   font-size: 15px;
   

}
#searchBar, #searchBarNumber{
   
  padding: 6px 6px 6px 6px;
  border: 2px solid;
  border-radius: 5px 5px 5px 5px;
  border-color: #000;
  margin-top: 8px;
  margin-right: -7px;
  font-size: 18px;
  
}

.firstSearch{
   
   text-align: center;
   align-items: center;
   
   width: 100%;
   
   
}
.secondSearch{
   text-align: center;
   align-items: center;
   
   width: 100%;
}
.references{
   padding:5px;
   text-align: center;
}



